<%= flash[:message] %>

<%= link_to "Nova Demanda", new_demanda_path, :class => :new %>

<div id='box_search'>
	<h4>Procurar Demandas</h4>
	<%= form_tag '/demandas' , :method => :get %>	
	  <p>
	  	<span class='label'>Número</span><%= text_field_tag :numero %>
	  	<span class='label'>Demandante</span><%= text_field_tag :demandante %>
			<span class='label'>Status</span><%= select_tag :status,options_for_select([[],[]]+Demanda::STATUS.collect{|s| [s[0], s[1]]}), :include_blank => true %>		
			<%= submit_tag "Buscar",:id => 'submit_button', :name => "" %>
		</p>				
  </form>
</div>

<% if @busca == 'busca' %>	
	<div class='box'>
	<h4>Resultado da Busca</h4>
	<% if @demandas.size == 0 %>
		<span class='warning'>Nenhuma demanda encontrada para os critérios informados.</span>
	<% else %>
		<%= render :partial => 'list_demandas', :locals => {:demandas => @demandas} %>
	<% end %>	
	</div>		
<% end %>	


<h4>Filtros</h4>
<ul>
	<li><%= link_to "Demandas em atendimento", :action => "index", :filtro => 'em_atendimento' %></li>
	<li><%= link_to "Demandas novas", :action => "index", :filtro => 'novas' %></li>	
</ul>

<% if @filtro %>
	<div class='box'>
	<h4><%= @filtro %></h4>
	<% if @demandas.empty? %>
  	<span class='warning'>Nenhuma demanda encontrada.</span>
	<% else %>
		<%= render :partial => 'list_demandas', :locals => {:demandas => @demandas} %>
	<% end %>
	</div>
<% end %>


<div class='box'>
<h4>Demandas da última semana</h4>
<% if @demandas_ultima_semana.empty? %>	
  <span class='warning'>Nenhuma demanda encontrada.</span>
<% else %>
	<%= render :partial => 'list_demandas', :locals => {:demandas => @demandas_ultima_semana} %>
<% end %>
</div>